body {
    background: #f4f5f8;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

/**
 * Top padding to offset the fixed navbar.
 */
#body-top-padding {
    height: 70px;
}

/**
 * Remove outline from clicked items
 */
a, .btn {
    outline: none !important;
}

/**
 * Button that takes up the width of its container.
 */
.btn-full {
    width: 100%;
}

.panel>.btn-full {
    line-height: 30px;
    border-radius: 0 0 4px 4px;
}

a[ng-click] {
    cursor: pointer;
}

.no-underline {
    &, &:hover {
        text-decoration: none;
    }
}

.text-red {
    color: #900;
}

td.disabled {
    color: #aaa;
    font-style: italic;
}

.main-page {
    json-tree .key {
        cursor: pointer;
    }

    .parent-node-choices {
        margin: 20px;
        text-align: left;
    }

    .th-btns {
        float: right;
        margin-top: 3px;
        line-height: 15px;

        a {
            padding: 0 4px 0 0;
        }
    }
}

.import-page {
    .paste-form {
        height: 300px;
        max-width: 100%;
        min-width: 100%;
        margin-bottom: none;
    }
}

.fully-clickable {
    .panel-title a {
        display: block;
        margin: -10px -15px;
        padding: 10px 15px;
    }
}
