body {
    background: #f4f5f8;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

/**
 * Top padding to offset the fixed navbar.
 */
#body-top-padding {
    height: 70px;
}

/**
 * Button that takes up the width of its container.
 */
.btn-full {
    width: 100%;
}

.panel>.btn-full {
    line-height: 30px;
    border-radius: 0 0 4px 4px;
}

.parent-node-choices {
    margin: 20px;
    text-align: left;
}

a[ng-click] {
    cursor: pointer;
}

.text-red {
    color: #900;
}

td.disabled {
    color: #aaa;
    font-style: italic;
}

json-tree .key {
    cursor: pointer;
}

.col-delete {
    .text-red;
    float: right;
    line-height: 15px;
    margin-top: 3px;
}
