<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Browse
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="tree node" ng-if="tree.view" >
                        <ul>
                            <li tree class="tree" node="tree.view"></li>
                        </ul>
                    </div>
                    <json-tree object="tree.current"></json-tree>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Overview
                    </h3>
                </div>

                <div class="text-center panel-body" ng-show="!page.columns.length">
                    <div ng-show="!parentChosen">
                        Select the parent node (the one that contains the array of data):

                        <ul class="parent-node-choices" ng-repeat="(key, name) in page.parentNodeChoices">
                            <li><a ng-click="page.chooseParentNode(key)">{{name}}</a></li>
                        </ul>
                    </div>
                    <div ng-show="parentChosen">
                        Select an attribute to export in the tree on the left.
                    </div>
                </div>

                <table class="table table-striped table-bordered" ng-show="page.columns.length">
                    <thead>
                        <tr>
                            <th>Column 1</th>
                            <th>Column 2</th>
                            <th>Column 3</th>
                            <th>Column 4</th>
                            <th>Column 5</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>a</td>
                            <td>b</td>
                            <td>c</td>
                            <td>d</td>
                            <td>e</td>
                        </tr>
                    </tbody>
                </table>

                <button class="btn btn-success btn-full">Send to Grokit</button>
            </div>
        </div>
    </div>
</div>

<link type="text/css" href="assets/tree-view/style.css" />
