<div class="container main-page">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Browse
                    </h3>
                </div>
                <div class="panel-body">
                    <json-tree object="tree.current" ng-click="chooseNode($event)"></json-tree>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Overview
                    </h3>
                </div>

                <div class="text-center panel-body" ng-show="!columns.length">
                    <div ng-show="!parentChosen">
                        Select the parent node (the one that contains the array of data):

                        <ul class="parent-node-choices" ng-repeat="(key, name) in parentNodeChoices">
                            <li><a ng-click="chooseParentNode(key)">{{name}}</a></li>
                        </ul>
                    </div>
                    <div ng-show="parentChosen">
                        Select an attribute to export in the tree on the left.
                    </div>
                </div>

                <table class="table table-striped table-bordered" ng-show="page.columns.length">
                    <thead>
                        <tr>
                            <th ng-repeat="(key, col) in columns">
                                {{ col }}
                                <span class="th-btns">
                                    <a ng-click="editColumn(key)" class="no-underline">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </a>
                                    <a ng-click="removeColumn(key)" class="no-underline text-red">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </a>
                                </span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in rows">
                            <td ng-repeat="col in columns" ng-class="{disabled: !getRowItem(row, col)}">
                                {{ getRowItem(row, col) || 'null' }}
                            </td>
                        </tr>
                    </tbody>
                </table>

                <button class="btn btn-success btn-full" ng-click="exportCode()">Send to Grokit</button>
            </div>
        </div>
    </div>
</div>

<link type="text/css" href="tree-view/style.css" />
